body {
    background-image: url(../img/crazy\ coode.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
    color: rgb(233, 156, 12);
    font-size: 38px;
    margin: 400px;
    font-family: sans-serif;
    margin-top: 55px;
    margin-left: 450px;
    letter-spacing: 6px;
    text-transform: uppercase;
}